html,body,.App {
  padding : 1em;
  height: 100%;
  background-color: #eee;
}

.menu {
  padding: 1em 0 1em 0;
}


.messages{
  height: 30rem;
  overflow-y: scroll;
}

.message_self{
  border-left: 2px solid blue;
  padding-left: 0.5rem;
}


.messages_form {
  z-index : 200;
}